html, body {
    min-width: 1122px;
    margin: 0;
    padding: 0;
}

body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background: #000 url("img/Mask Group.jpg") no-repeat top;
}

.index-page {
    color: #000000;
    background: #f8f3f0 repeat;
}

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 60px;
    color: #ffffff;
    background-color: #000000;
}

.index-page .main-header {
    margin-bottom: 55px;
}

.main-navigation {
    float: left;
    width: 780px;
    min-height: 70px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover {
    background: #242424;
}

.main-navigation .active {
    position: relative;

    /*background-color: none;*/
}

.main-navigation .active a:hover {
    background: none;
}

.main-navigation .active::after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;

    height: 5px;

    background-color: #ffffff;
}

.main-navigation .logo-inner {
    float: left;
    width: 111px;
    height: 20px;
    padding-top: 22px;
}

.main-navigation .logo-inner img {
    width: 111px;
    height: 24px;
}

.main-navigation .logo-inner:hover {
    background: none;
}

.user-block {
    float: right;
    max-width: 140px;
    /*min-height: 70px;*/
    /*display: flex;*/
    /*align-items: center;*/
}

.login {
    position: relative;

    display: inline-block;
    padding: 25px 20px 25px 50px;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

.login:hover {
    background: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    background: transparent url("img/sprite.svg") no-repeat;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
    background: rgba(230, 122, 122, 0.4);
    /*border: 2px solid;*/
    /*min-height: 175px;*/
}

.features-item:last-child {
    margin-right: 0;
}

.feature-name {
    position: relative;

    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;

    font-size: 30px;
    line-height: 42px;
}

.features-item p {
    margin: 10px 10px 0;
}

.feature-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #ffffff;
    transform: rotate(45deg);
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000;

    background: url("img/tree .svg") no-repeat center, #f8f5f2 url("img/texture.svg") repeat;
}

.index-content-left {
    float: left;
    width: 380px;
    background: rgba(122, 226, 230, 0.6);

    /*min-height: 380px;*/
}

.index-content-right {
    float: right;
    width: 300px;
    background: rgba(122, 226, 230, 0.6);

    /*min-height: 380px;*/
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.index-content-title {
    margin: 0 0 25px;
    /*margin-bottom: 25px;*/
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0 0 25px;
}

.news-preview {
    margin: 0;
    padding: 0 35px 0 0;

    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #000000;
    border: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled, .btn:disabled {
    cursor: default;
    opacity: .5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}

.gallery {
    position: relative;

    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #ccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 268px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    font: inherit;
    color: inherit;
    text-transform: inherit;

    background-color: #f9f6f3;
    border: 2px solid #000;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

/*----------------------------*/
.index-page-title {
    margin-bottom: 55px;
}

.index-page-title h1 {
    margin: 0 0 20px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    position: relative;

    display: inline;
    padding-right: 40px;
}

.breadcrumbs li::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 18px;

    width: 8px;
    height: 8px;

    background-color: #000000;
    transform: rotate(45deg);

}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .current {
    color: #aba9a7;
}

.breadcrumbs .current::after {
    display: none;
}

.inner-content {
    margin-bottom: 75px;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content table {
    border-collapse: collapse;
}

.index-page td {
    padding: 10px 15px;

    border: 2px solid #000000;
}

.inner-content .big-heading-flex {
    display: flex;
    align-items: center;

    margin-top: 55px;
    margin-bottom: 65px;

    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.inner-content .big-heading-flex::before,
.inner-content .big-heading-flex::after {
    content: '';
    flex-grow: 1;

    width: 50px;
    height: 2px;
    background: black;
}

.inner-content .big-heading-flex::before {
    margin-right: 25px;
}

.inner-content .big-heading-flex::after {
    margin-left: 25px;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;

    list-style: none;
}

.custom-list-1 li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1 li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;

    width: 8px;
    height: 8px;

    background-color: black;
    transform: rotate(45deg);
}

.prices-table {
    width: 100%;
}

.prices-table td {
    width: 50%;
}

.prices-table td:last-child {
    text-align: center;
}

.short-text {
    padding-right: 80px;
}

.inner-columns {
    margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
    width: 460px;
}

.inner-column-left {
    float: left;
}

.inner-column-right {
    float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
    margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
    margin-bottom: 0;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #ffffff;
    background: #252525 url("img/pattern.png");
    box-shadow: inset 0 30px 40px -15px #000000;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;

    text-align: center;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-social p {
    margin: 0 0 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;

    transition: background-position .5s,
    background-color .5s;
}

.social-btn-vk {
    background: #000000 url("img/vk.svg") no-repeat center;
}

.social-btn-fb {
    background: #000000 url("img/fb.svg") no-repeat center;
}

.social-btn-inst {
    background: #000000 url("img/instagram.svg") no-repeat center;
}

.social-btn:hover {
    background-color: #fff;
}

.social-btn-inst:hover path {
    /*color: black;*/
    fill: black;
}

.footer-copyright p {
    margin: 0 0 15px;

    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000;
    background-color: #ffffff;
}

.modal-content {
    display: none;

    position: absolute;
    top: 120px;
    left: 50%;

    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;

    color: #000;
    background: #f8f3f0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.modal-content-show {
    display: block;
    animation: bounce .6s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateY(10px);
    }
}

.modal-error {
    animation: shake .6s;
}

.modal-content-map {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;

    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    background: #e9e5dc url("img/map.png") no-repeat;
    border: 7px solid white;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .7);
}

.modal-overlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background: rgba(255, 0, 0, .5);
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    cursor: pointer
}

.modal-content-close::before,
.modal-content-close::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0 0 20px;

    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0 0 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 241px;
    margin: 0 0 10px;
    padding: 10px 40px 10px 15px;

    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-form input.icon-user {
    background-image: url("img/avatar.png");
    background-repeat: no-repeat;
    background-position: 100% -504px;
}

.login-form input.icon-password {
    background-image: url("img/padlock.svg");
    background-repeat: no-repeat;
    background-position: 100% -45px;
}

.login-form .restore {
    float: right;

    color: #000;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
    display: none;
}

.login-checkbox {
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}

.login-checkbox:hover {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}